In [1]:
%matplotlib inline
import matplotlib.pyplot as plt 
plt.figure(figsize=(10,12))
plt.style.use('seaborn')

In [2]:
from jupyterworkflow.data import get_data

In [3]:
data = get_data()
data.head()

             West   East  Total
Date
2014-12-01  23689  24818  48507
2012-11-01  26062  24585  50647
2012-12-01  18608  17761  36369
2015-01-01  35754  24876  60630
2017-12-01  18946  26916  45862

In [4]:
from urllib.request import urlretrieve
urlretrieve(URL,'Fremont.csv')

NameError: name 'URL' is not defined

In [ ]:
#import pandas as pd 
#data = pd.read_csv('Fremont.csv')
#data.head()

In [ ]:
#import pandas as pd 
#data = pd.read_csv('Fremont.csv', index_col= 'Date', parse_dates = True)

In [ ]:
data.describe()

In [ ]:
data.count()

In [ ]:
data.resample('Y').sum().plot()

In [ ]:

#data.resample('W').sum().plot()
plt.figure(figsize=(10,12))
data.plot()

In [ ]:
data.resample('W').sum().plot()

In [ ]:
plt.subplots()
data['East'].resample('W').sum().plot(legend=True)
data['West'].resample('W').sum().plot(legend = True)

In [ ]:
plt.subplots()
data['East'].resample('H').sum().plot(legend=True)
data['West'].resample('H').sum().plot(legend = True)

In [ ]:
data['Total'] = data['West'] + data['East']
ax = data.resample('D').sum().rolling(365).sum().plot();
ax.set_ylim(0,None);

In [ ]:
data['Total'] = data['West'] + data['East']
ax = data.resample('H').sum().rolling(365).sum().plot();
ax.set_ylim(0,None);

In [ ]:
data.groupby(data.index).mean().plot()

In [ ]:
pivoted = data.pivot_table('Total',index=data.index.time, columns=data.index.date)
pivoted.iloc[:10,:5]

In [ ]:
pivoted.plot(legend = False)

In [ ]:
pivoted.index[:24]

In [ ]:
data.index

In [ ]:
import numpy as np
np.unique(data.index)

In [ ]:
gvgfgfgfgg